@font-face {
    font-family: paddis-handwritten;
    src: url(./Assets/fonts/PaddisHandwritten43Medium-x4em.ttf);
}

@font-face {
    font-family: cru;
    src: url(./Assets/fonts/CruChaipotHandWritten-doR7.ttf);
}

@font-face {
    font-family: cru-bold;
    src: url(./Assets/fonts/CruChaipotHandwrittenBlod-gAY6.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: cru, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: rgb(0, 82, 0);
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 160px 1fr;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    grid-column: 2/3;
    box-shadow: inset 6px 0 6px -6px #666;

    padding: 16px 32px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header-top {
    display: flex;
    gap: 8px;
    align-items: center;
}

.search-icon {
    display: block;
    width: 24px;
    height: 24px;
}

input[type="text"] {
    flex: 1;
    background-color: #ececec;
    outline: none;
    border: none;
    height: 32px;
    border-radius: 16px;
    padding: 2px 16px 0;
    margin-right: clamp(16px, 8vw, 128px);
    font-family: cru;
    font-size: 28px;
}

input[type="text"]:focus {
    outline: #555555 solid 1px;
}

input[type="text"]::placeholder {
    color: #474747;
    font-family: cru;
    font-size: 28px;
}

.bell-icon {
    height: 24px;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
    -webkit-user-drag: none;
}

.bell-animate {
    transform: rotate(180deg) scale(0.25);
}

.bell-active {
    transform: rotate(360deg);
}

.username {
    cursor: pointer;
    color: #363636;
}

.pfp {
    cursor: pointer;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: skyblue;
    background-image: url(./Assets/slugcatButSeaGreen.png);
    background-size: 200%;
    background-position: 43% 48%;

    height: 64px;
    width: 64px;
}

.pfp-small {
    height: 40px;
    width: 40px;
}

.header-bottom {
    display: grid;
    align-items: end;
    grid-template-columns: 64px 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 16px;
}

.user-welcome p {
    font-size: 28px;
}

.user-welcome h1 {
    font-size: 48px;
    margin-bottom: -10px;
    white-space: nowrap;
    text-overflow: clip;
}

.usertag {
    font-size: 36px;
}

aside {
    background-color: #419243;
    
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: min-content min-content min-content;

    padding: 16px 8px;

    font-family: cru-bold;
}

.sidebar-link-list {
    display: grid;
    grid-auto-rows: 48px;
    align-items: center;
}

.sidebar-link {
    color: #034d01;
    transition: all 0.4s;
}

.sidebar-link:hover {
    letter-spacing: 4px;
    color: darkgreen;
    font-size: 48px;
}

.sidebar-section {
    text-align: center;
    margin-bottom: 32px;
}

.logo-section {
    justify-self: center;

}

.logo {
    display: block;
    max-height: 96px;
    margin: 0 auto;
    border: 2px solid #002b08;
    border-radius: 50%;
    user-select: none;
    -webkit-user-drag: none;
}

.logo-section h1 {
    color: #002b00;
    font-family: paddis-handwritten;
    font-size: 48px;
    user-select: none;
}

main {
    background-color: #fdf3e5;
    color: #583520;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 280px;
    grid-template-rows: min-content 1fr;
    gap: 32px;

    box-shadow: inset 10px 8px 10px -10px #5a3217;
}

main h1 {
    font-size: 48px;
}

.projects {
    grid-row: 1/3;
    grid-column: 1/2;
}

.projects-top-row {
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: 1fr 96px;
    gap: 24px;
}

button {
    background-color: green;
    border: none;
    outline: hidden;
    color: white;
    font-family: cru-bold;
    cursor: pointer;
    transition: all 0.5s;

    font-size: 24px;
    width: 96px;
    height: 30px;
    margin-bottom: 8px;
    border-radius: 20px;
    justify-self: right;
    align-self: end;
}

button:hover {
    background-color: #0bbe0b;
}

button:active {
    scale: 0.9;
}

.edit-button {
    margin-bottom: 0;
    padding: 2px 16px 0;
    width: fit-content;
    font-size: 20px;
    height: 24px;
    justify-self: left;
}

.button-link {
    display: block;
    width: min-content;
    height: min-content;
    border-radius: 20px;
}

.button-row {
    display: grid;
    align-items: end;
    grid-auto-flow: column;
    grid-template-columns: 1fr repeat(3, 32px);
    gap: 8px;
}

.card-icon {
    justify-self: right;
    cursor: pointer;
}

.button-row img {
    height: 24px;
    
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-auto-rows: 248px;
    gap: 32px;
}

.card {
    padding: 16px;
    border: 2px solid #582020;
    border-radius: 8px;
    background-color: #fff8f4;
    box-shadow: inset 10px 10px 10px -10px #8b654c;

    display: grid;
    grid-template-rows: 1fr 32px;
}

.card h2 {
    font-size: 32px;
}

.card p {
    font-size: 28px;
}

.like {
    transition: all 0.25s;
    -webkit-user-drag: none;
    user-select: none;
}

.like:hover {
    scale: 1.15;
}

.like-active {
    filter: invert(23%) sepia(51%) saturate(6711%) hue-rotate(110deg) brightness(94%) contrast(105%);
}

.like-animate {
    transform: scale(1.2);
    filter: invert(23%) sepia(51%) saturate(6711%) hue-rotate(110deg) brightness(94%) contrast(105%);
}

.like-animate2 {
    transform: scaleX(0.1);
}

.collab {
    transition: all 0.25s;
    scale: 1.1;
    -webkit-user-drag: none;
    user-select: none;
}

.collab:hover {
    scale: 1.2;
}

.collab-active {
    filter: invert(23%) sepia(51%) saturate(6711%) hue-rotate(110deg) brightness(94%) contrast(105%);
}

.collab-animate {
    transform: scaleX(1.5);
    filter: invert(23%) sepia(51%) saturate(6711%) hue-rotate(110deg) brightness(94%) contrast(105%);
}

.collab-animate2 {
    transform: scaleX(0.5);
}

.share {
    scale: 0.95;
    transition: scale 0.25s;
    -webkit-user-drag: none;
    user-select: none;
}

.share:hover {
    scale: 1.1;
}

.share:active {
    filter: invert(23%) sepia(51%) saturate(6711%) hue-rotate(110deg) brightness(94%) contrast(105%);
}

.saved-card, .connect-card {
    padding: 16px;
    border: 2px solid #582020;
    border-radius: 8px;
    background-color: #fce8ca;
    box-shadow: 5px 5px 10px #8b654c;
    font-size: 24px;

    display: grid;
    grid-template-rows: min-content;
    text-align: center;
}

.saved-card h4 {
    display: inline;
    cursor: pointer;
}

.inline {
    display: inline;
}

.divider {
    width: 50%;
    height: 1px;
    background-color: #583520;
    margin: 8px auto;
}

.connect {
    grid-row: 1/2;
}

.connect h4 {
    cursor: pointer;
}

.credit {
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
    font-size: 28px;
    margin-bottom: -16px;
}